body {
  background-image: linear-gradient(to right, #F5F5DC, #DEB887);
}

.container {
  min-height: 90vh;
  background-color: white;
  margin-top: 50px;
  border-radius: 20px;
}

.h1 {
  margin-top: 25px;
  margin-bottom: 50px;
}

.card {
  background-image: linear-gradient(to right, #F5F5DC, #DEB887);
  height: 200px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}

button {
  margin: 5px;
}